/* RESET RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

html {
    font-family: "Roboto", sans-serif;
}

/* LAYOUT  */

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    min-height: 700px;
    padding: 30px 0px;
}

.col-33 {
    width: calc(100% / 3);
    padding: 15px;
}

.card-item {
    width: 100%;
}

.sales-badge {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    bottom: 30px;
    left: 0px;
}

.hearts {
    padding: 5px 10px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 5px;
}

.sales-badge.eco {
    background-color: green;
    position: absolute;
    bottom: 30px;
    left: 51px;
}

.up-item {
    position: relative;
}

/* DEBUG  */

.debug.main-section * {
    border: 1px solid black;
    min-height: 200px;
}
