/* RESET RULES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

html {
    font-family: "Roboto", sans-serif;
}

/* HEADER  */

.main-header {
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.main-section {
    margin-top: 50px;
}

.container.hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

.hdr-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
}

.hdr.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icons > img {
    color: white;
    width: 20px;
}

.hdr-logo {
    height: 30px;
    display: block;
}

/* LAYOUT  */

.item-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.4;
    object-position: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
}

.col-33 {
    width: calc(100% / 3);
    padding: 15px 0px;
}


.card-item {
    width: 100%;
    padding: 15px;
}

.sales-badge {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    bottom: 30px;
    left: 0px;
}

.hearts {
    padding: 5px 10px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 5px;
    cursor: pointer;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales-badge.eco {
    background-color: green;
    position: absolute;
    bottom: 30px;
    left: 51px;
}

.up-item {
    position: relative;
}

.item-brand {
    font-size: 12px;
}

.item-discount {
    color: red;
    font-size: 12px;
}

.old-price {
    text-decoration: line-through;
    color: black;
}

.lw-item > span {
    display: block;
}

/* HOOVER  */

.hearts:hover {
    color: red;
}

.hover-item1:hover {
    content: url('../img/1b.webp');
}

.hover-item2:hover {
    content: url('../img/2b.webp');
}

.hover-item3:hover {
    content: url('../img/3b.webp');
}

.hover-item4:hover {
    content: url('../img/4b.webp');
}

.hover-item5:hover {
    content: url('../img/5b.webp');
}

.hover-item6:hover {
    content: url('../img/6b.webp');
}


/* FOOTER  */

.ft-contacts {
    background-color: rgb(24, 24, 24);
}

.container.ftr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
    padding: 0px 15px;
}

.ftr-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.row.ftr {
    flex-direction: column;
}

.row.ftr strong {
    padding-bottom: 5px;
}

.enterprise-name {
    padding-bottom: 15px;
}

.ftr.icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* DEBUG  */

.debug.main-section * {
    border: 1px solid black;
    min-height: 200px;
}



/* I BADGE DEGLI SCONTI DOVREBBRO ESSERE UN UNICO DIV CON FLEX E PADDING */